# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- creating a table
- few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras

| Data Science Tools |
|--------------------|
|RStudio             |
|Apache Spark        |
|TensorFlow          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
minutes = 200
hours = minutes/60
print (hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Alok Kumar